<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Showing the current day name using EJS Template</title>
  </head>
  <body>
    <h1>It's a <%= kindofday %></h1>
  </body>
</html>
